{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div class="container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0D8RJLIfGu9BfAEv3oMYyxiGfkGsGABeSsY6K2Ugy&s" class="image3" alt="Snow" style="width:100%;">
      <div class="centered">
          <a href="https://t.me/shaxruxtleubaev1"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968940.png" alt="" class="image2"></a>
          <a href="https://instagram.com/shaxruxtleubaev?igshid=YmMyMTA2M2Y="><img src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png" alt="" class="image2"></a>
          <a href="https://www.facebook.com/shaxruxxann"><img src="https://cdn-icons-png.flaticon.com/512/2175/2175193.png" alt="" class="image2"></a>
          <a href="https://github.com/shaxruxtleubaev"><img src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" alt="" class="image2"></a>
      </div>
    </div>
{% endblock %}