{% extends 'base.html' %}

{% block content %}

    {% for product in products %}
        <div class="row">
            <div class="main">
                <h2>{{ product.title }}</h2>
                <h5>Category: {{ product.rubric }} </h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Price {{ product.price }}$</p>
                <p>{{ product.content }}</p>
                <h5>Published at: {{ product.published }}</h5>
                <br>
              </div>
            </div>
        </div>
        <a><button class="button button1">Edit</button></a>
    {% endfor %}

{% endblock %}