{% extends 'base.html' %}

{% block title %}
    Create post
{% endblock title %}

{% block content %}
    <div>
        <a href="{% url 'manage' %}"><button class="button button4">Back</button></a>
    </div>
    <div class="form">
        <h1>Add post</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Name: {{ form.title }}</p>
                <p>Desciption {{ form.content }}</p>
                <p>Price $ {{ form.price }}</p>
                <p>Rubric {{ form.rubric }}</p>
                <p>Image {{ form.image }}</p>
                <input type="submit" value="Create">
            </form>
    </div>
    <p></p>
{% endblock %}